.button {
    padding: 16px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: fit-content;
    transition: background-color 0.4s ease, transform 0.2s ease, padding .4s cubic-bezier(0.175, 0.9, 0.32, 1.6);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--blue-dark);
    color: var(--gray-100);

    border-radius: 8px;

    @media (hover: hover) {
        &:hover {
            transform: scale(1.025);
        }
    }

    &:active {
        transform: scale(0.978);
    }
}